Requirements : MYSQL should be installed and running.

In [1]:
import json
from datetime import datetime
import time

In [2]:
#pip install mysql-connector-python (Required if its your first time)

In [3]:
#Connecting to the MySQL server. Replace user and password with your credentials
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="root@123"
)

print(mydb)

<mysql.connector.connection.MySQLConnection object at 0x7fb470aa6b50>

In [4]:
#Creating a cursor object on the server
mycursor = mydb.cursor(buffered=True)

In [5]:
#mycursor.execute("drop DATABASE mydatabase") #Use this, if you want to restart building your database

In [6]:
mycursor.execute("CREATE DATABASE if not exists mydatabase") #Creating the database

In [7]:
#Now connecting to the database in the server, instead of just to the server.
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="root@123",
  database="mydatabase"
)

mycursor = mydb.cursor(buffered=True)

In [8]:
#Creating the users table with the following fields
mycursor.execute('drop table if exists users')
mycursor.execute('''CREATE TABLE if not exists users
             (id VARCHAR(255) PRIMARY KEY,
             name VARCHAR(255),
             screen_name VARCHAR(255),
             verified boolean,
             followers_count BIGINT,
             friends_count BIGINT,
             created_at DATETIME,
             location VARCHAR(255),
             tweets_count BIGINT,
             Description TEXT)''')

mydb.commit()

In [10]:
#Extracting the user info from each tweet in the corona-out-3 file.
#Reading the data by line to extract user info.
#Finding out whether user already exists in the DB.
#If not, create a dictionary to store the user details extracted.
#Insert these values to the database and commit at the end.
#Insertion time decreased significantly, by reading and creating the user dictionary in the else part.
#Helpful especially because there are lot of duplicates, meaning a user has a lot of tweets.
start_time = time.time()
with open('corona-out-3.json', 'r') as f:
    for line in f:
        try:
            data = json.loads(line)
            query = '''SELECT * FROM users WHERE id=%s'''
            mycursor.execute(query,(data['user']['id_str'],))
            existing_user = mycursor.fetchone()
            if existing_user:
                existing_tweet_count = existing_user[8]
                new_tweet_count= existing_tweet_count + 1
                query = '''UPdate users set tweets_count = %s where id = %s'''
                mycursor.execute(query,(new_tweet_count,data['user']['id_str'],))
                continue
            # If the user does not exist, insert the user data into the database
            else:
                date_time_obj = datetime.strptime(data['user']['created_at'], '%a %b %d %H:%M:%S %z %Y')
                user_info = {'id': data['user']['id_str'],'name': data['user']['name'],
                         'screen_name': data['user']['screen_name'],
                        'verified':data['user']['verified'],
                        'followers_count':data['user']['followers_count'],
                        'friends_count':data['user']['friends_count'],
                        'created_at':date_time_obj,
                            'location' : data['user']['location'],
                            'Description':data['user']['description']}
                query = """INSERT INTO users (id, screen_name, name,verified,followers_count,friends_count,created_at,location,tweets_count,Description) VALUES (%s, %s, %s,%s,%s,%s,%s,%s,%s,%s)"""
                val= (user_info['id'],user_info['screen_name'],user_info['name'],user_info['verified'],user_info['followers_count'],user_info['friends_count'],user_info['created_at'],user_info['location'],1,user_info['Description'])
                mycursor.execute(query,val)
            if 'retweeted_status' in data:
                query = '''SELECT * FROM users WHERE id=%s'''
                mycursor.execute(query,(data['retweeted_status']['user']['id_str'],))
                existing_user = mycursor.fetchone()
                if existing_user:
                    existing_tweet_count = existing_user[8]
                    new_tweet_count= existing_tweet_count + 1
                    query = '''UPdate users set tweets_count = %s where id = %s'''
                    mycursor.execute(query,(new_tweet_count,data['retweeted_status']['user']['id_str'],))
                    continue
            # If the user does not exist, insert the user data into the database
                else:
                    date_time_obj = datetime.strptime(data['retweeted_status']['user']['created_at'], '%a %b %d %H:%M:%S %z %Y')
                    user_info = {'id': data['retweeted_status']['user']['id_str'],'name': data['retweeted_status']['user']['name'],
                         'screen_name': data['retweeted_status']['user']['screen_name'],
                        'verified':data['retweeted_status']['user']['verified'],
                        'followers_count':data['retweeted_status']['user']['followers_count'],
                        'friends_count':data['retweeted_status']['user']['friends_count'],
                        'created_at':date_time_obj,
                            'location' : data['retweeted_status']['user']['location'],
                                'Description':data['retweeted_status']['user']['description']}
                    query = """INSERT INTO users (id, screen_name, name,verified,followers_count,friends_count,created_at,location,tweets_count,Description) VALUES (%s, %s, %s,%s,%s,%s,%s,%s,%s,%s)"""
                    val= (user_info['id'],user_info['screen_name'],user_info['name'],user_info['verified'],user_info['followers_count'],user_info['friends_count'],user_info['created_at'],user_info['location'],1,user_info["Description"])
                    mycursor.execute(query,val)
            if 'quoted_status' in data:
                query = '''SELECT * FROM users WHERE id=%s'''
                mycursor.execute(query,(data['quoted_status']['user']['id_str'],))
                existing_user = mycursor.fetchone()
                if existing_user:
                    existing_tweet_count = existing_user[8]
                    new_tweet_count= existing_tweet_count + 1
                    query = '''UPdate users set tweets_count = %s where id = %s'''
                    mycursor.execute(query,(new_tweet_count,data['quoted_status']['user']['id_str'],))
                    continue
            # If the user does not exist, insert the user data into the database
                else:
                    date_time_obj = datetime.strptime(data['quoted_status']['user']['created_at'], '%a %b %d %H:%M:%S %z %Y')
                    user_info = {'id': data['quoted_status']['user']['id_str'],'name': data['quoted_status']['user']['name'],
                         'screen_name': data['quoted_status']['user']['screen_name'],
                        'verified':data['quoted_status']['user']['verified'],
                        'followers_count':data['quoted_status']['user']['followers_count'],
                        'friends_count':data['quoted_status']['user']['friends_count'],
                        'created_at':date_time_obj,
                            'location' : data['quoted_status']['user']['location'],
                                'Description':data['quoted_status']['user']['description']}
                    query = """INSERT INTO users (id, screen_name, name,verified,followers_count,friends_count,created_at,location,tweets_count,Description) VALUES (%s, %s, %s,%s,%s,%s,%s,%s,%s,%s)"""
                    val= (user_info['id'],user_info['screen_name'],user_info['name'],user_info['verified'],user_info['followers_count'],user_info['friends_count'],user_info['created_at'],user_info['location'],1,user_info['Description'])
                    mycursor.execute(query,val)
        except Exception as e:
            #print(e)
            continue
end_time = time.time()
elapsed_time = end_time - start_time

# Print the elapsed time
print(f"Elapsed time: {elapsed_time:.2f} seconds")

mydb.commit()

Elapsed time: 30.79 seconds

In [13]:
mycursor.execute("select count(*) from users")

for x in mycursor:
    print(x)

(95654,)

In [12]:
#Extracting the user info from each tweet in the corona-out-3 file.
#Reading the data by line to extract user info.
#Finding out whether user already exists in the DB.
#If not, create a dictionary to store the user details extracted.
#Insert these values to the database and commit at the end.
#Insertion time decreased significantly, by reading and creating the user dictionary in the else part.
#Helpful especially because there are lot of duplicates, meaning a user has a lot of tweets.
start_time = time.time()
with open('corona-out-2.json', 'r') as f:
    for line in f:
        try:
            data = json.loads(line)
            query = '''SELECT * FROM users WHERE id=%s'''
            mycursor.execute(query,(data['user']['id_str'],))
            existing_user = mycursor.fetchone()
            if existing_user:
                existing_tweet_count = existing_user[8]
                new_tweet_count= existing_tweet_count + 1
                query = '''UPdate users set tweets_count = %s where id = %s'''
                mycursor.execute(query,(new_tweet_count,data['user']['id_str'],))
                continue
            # If the user does not exist, insert the user data into the database
            else:
                date_time_obj = datetime.strptime(data['user']['created_at'], '%a %b %d %H:%M:%S %z %Y')
                user_info = {'id': data['user']['id_str'],'name': data['user']['name'],
                         'screen_name': data['user']['screen_name'],
                        'verified':data['user']['verified'],
                        'followers_count':data['user']['followers_count'],
                        'friends_count':data['user']['friends_count'],
                        'created_at':date_time_obj,
                            'location' : data['user']['location'],
                            'Description':data['user']['description']}
                query = """INSERT INTO users (id, screen_name, name,verified,followers_count,friends_count,created_at,location,tweets_count,Description) VALUES (%s, %s, %s,%s,%s,%s,%s,%s,%s,%s)"""
                val= (user_info['id'],user_info['screen_name'],user_info['name'],user_info['verified'],user_info['followers_count'],user_info['friends_count'],user_info['created_at'],user_info['location'],1,user_info['Description'])
                mycursor.execute(query,val)
            if 'retweeted_status' in data:
                query = '''SELECT * FROM users WHERE id=%s'''
                mycursor.execute(query,(data['retweeted_status']['user']['id_str'],))
                existing_user = mycursor.fetchone()
                if existing_user:
                    existing_tweet_count = existing_user[8]
                    new_tweet_count= existing_tweet_count + 1
                    query = '''UPdate users set tweets_count = %s where id = %s'''
                    mycursor.execute(query,(new_tweet_count,data['retweeted_status']['user']['id_str'],))
                    continue
            # If the user does not exist, insert the user data into the database
                else:
                    date_time_obj = datetime.strptime(data['retweeted_status']['user']['created_at'], '%a %b %d %H:%M:%S %z %Y')
                    user_info = {'id': data['retweeted_status']['user']['id_str'],'name': data['retweeted_status']['user']['name'],
                         'screen_name': data['retweeted_status']['user']['screen_name'],
                        'verified':data['retweeted_status']['user']['verified'],
                        'followers_count':data['retweeted_status']['user']['followers_count'],
                        'friends_count':data['retweeted_status']['user']['friends_count'],
                        'created_at':date_time_obj,
                            'location' : data['retweeted_status']['user']['location'],
                                'Description':data['retweeted_status']['user']['description']}
                    query = """INSERT INTO users (id, screen_name, name,verified,followers_count,friends_count,created_at,location,tweets_count,Description) VALUES (%s, %s, %s,%s,%s,%s,%s,%s,%s,%s)"""
                    val= (user_info['id'],user_info['screen_name'],user_info['name'],user_info['verified'],user_info['followers_count'],user_info['friends_count'],user_info['created_at'],user_info['location'],1,user_info["Description"])
                    mycursor.execute(query,val)
            if 'quoted_status' in data:
                query = '''SELECT * FROM users WHERE id=%s'''
                mycursor.execute(query,(data['quoted_status']['user']['id_str'],))
                existing_user = mycursor.fetchone()
                if existing_user:
                    existing_tweet_count = existing_user[8]
                    new_tweet_count= existing_tweet_count + 1
                    query = '''UPdate users set tweets_count = %s where id = %s'''
                    mycursor.execute(query,(new_tweet_count,data['quoted_status']['user']['id_str'],))
                    continue
            # If the user does not exist, insert the user data into the database
                else:
                    date_time_obj = datetime.strptime(data['quoted_status']['user']['created_at'], '%a %b %d %H:%M:%S %z %Y')
                    user_info = {'id': data['quoted_status']['user']['id_str'],'name': data['quoted_status']['user']['name'],
                         'screen_name': data['quoted_status']['user']['screen_name'],
                        'verified':data['quoted_status']['user']['verified'],
                        'followers_count':data['quoted_status']['user']['followers_count'],
                        'friends_count':data['quoted_status']['user']['friends_count'],
                        'created_at':date_time_obj,
                            'location' : data['quoted_status']['user']['location'],
                                'Description':data['quoted_status']['user']['description']}
                    query = """INSERT INTO users (id, screen_name, name,verified,followers_count,friends_count,created_at,location,tweets_count,Description) VALUES (%s, %s, %s,%s,%s,%s,%s,%s,%s,%s)"""
                    val= (user_info['id'],user_info['screen_name'],user_info['name'],user_info['verified'],user_info['followers_count'],user_info['friends_count'],user_info['created_at'],user_info['location'],1,user_info['Description'])
                    mycursor.execute(query,val)
        except Exception as e:
            #print(e)
            continue
end_time = time.time()
elapsed_time = end_time - start_time

# Print the elapsed time
print(f"Elapsed time: {elapsed_time:.2f} seconds")

mydb.commit()

Elapsed time: 6.18 seconds

In [14]:
mydb.commit()